body {
	position: relative;
	width: 900px;
	height: 1054px;

}

.lado-esquerdo {
	position: absolute;
	width: 340px;
	height: 1054px;
	left: 0px;
	top: 0px;

	background: #3C3C3C;
}

img {
	position: absolute;
	width: 136px;
	height: 136px;
	left: 68px;
	top: 68px;
}

.lado-esquerdo h2 {
	position: absolute;
	width: 204px;
	height: 68px;
	left: 68px;
	top: 272px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;

	color: #FFFFFF;
}

.endereço {
	position: absolute;
	width: 95px;
	height: 20px;
	left: 68px;
	top: 340px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-transform: uppercase;

	color: #6CD0DB;
}

.endereçotexto {
	position: absolute;
	width: 250px;
	height: 44px;
	left: 68px;
	top: 370px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-transform: capitalize;

	color: #D0D0D0;
}

.celular {
	position: absolute;
	width: 112px;
	height: 20px;
	left: 68px;
	top: 439px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-transform: uppercase;

	color: #6CD0DB;
}

.celulartexto {
	position: absolute;
	width: 125px;
	height: 22px;
	left: 68px;
	top: 469px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	text-transform: capitalize;

	color: #D0D0D0;
}

.e-mail {
	position: absolute;
	width: 73px;
	height: 20px;
	left: 68px;
	top: 516px;

	font-family: 'Monserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-transform: uppercase;

	color: #6CD0DB;
}

.e-mailtexto {
	position: absolute;
	width: 227px;
	height: 22px;
	left: 68px;
	top: 546px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	text-transform: lowercase;

	color: #D0D0D0;
}

.nacionalidade {
	position: absolute;
	width: 138px;
	height: 20px;
	left: 68px;
	top: 593px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	text-transform: uppercase;

	color: #6CD0DB;
}

.nacionalidadetexto {
	position: absolute;
	width: 193px;
	height: 22px;
	left: 68px;
	top: 623px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	color: #D0D0D0;
}


.separador{
	position: absolute;
	width: 340px;
	height: 3px;
	left: 0px;
	top: 695px;

	background: #6CD0DB;
}

.sobre {
	position: absolute;
	width: 204px;
	height: 68px;
	left: 68px;
	top: 742px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;

	color: #FFFFFF;
}

.sobretexto {
	position: absolute;
	width: 204px;
	height: 176px;
	left: 68px;
	top: 810px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	color: #D0D0D0;
}

.nomeprofissao {
	position: absolute;
	width: 340px;
	height: 92px;
	left: 408px;
	top: 68px;
}

.nome{
	position: absolute;
	width:500px;
	height: 68px;
	left: 408px;
	top: 68px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 68px;
	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #6CD0DB;
}

.profissao{
	position: absolute;
	width: 272px;
	height: 22px;
	left: 410px;
	top: 138px;

	font-family: 'Crimson+Pro',sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #3C3C3C;
}

.conhecimentos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: absolute;
	width: 450px;
	height: 616px;
	left: 408px;
	top: 228px;
}

.formação {
	position: static;
	width: 500px;
	height: 152px;
	left: 0px;
	top: 0px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 48px 0px;
}

.formação h2 {
	position: absolute;
	width: 223px;
	height: 39px;
	left: 0px;
	top: 0px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;

	display: flex;
	align-items: center;
	letter-spacing: 0.06em;

	color: #6CD0DB;
}

.formação p {
	position: absolute;
	width: 500px;
	height: 96px;
	left: 0px;
	top: 56px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;

	text-transform: capitalize;

	color: #3C3C3C;

}

.habilidades {
	position: static;
	width: 260px;
	height: 216px;
	left: 0px;
	top: 200px;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 48px 0px;
}

.habilidades h2{
	position: absolute;
	width: 254px;
	height: 39px;
	left: 0px;
	top: 200px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;

	display: flex;
	align-items: center;
	letter-spacing: 0.06em;

	color: #6CD0DB;
}

.posiçãotextos {
	position: absolute;
	width: 131px;
	height: 160px;
	left: 0px;
	top: 256px;

}

.htmlcss {
	position: absolute;
	width: 90px;
	height: 32px;
	left: 0px;
	top: 256px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;

	text-transform: capitalize;

	color: #3C3C3C;

}

.javasc {
	position: absolute;
	width: 100px;
	height: 32px;
	left: 0px;
	top: 288px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;

	text-transform: capitalize;

	color: #3C3C3C;

}

.indicador1 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 182px;
	top: 267px;
	border-radius: 50%;

	background: #6CD0DB;
}

.indicador2 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 199px;
	top: 267px;
	border-radius: 50%;

	background: #000000;
}

.indicador3 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 216px;
	top: 267px;
	border-radius: 50%;

	background: #000000;
}

.indicador4 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 233px;
	top: 267px;
	border-radius: 50%;

	background: #000000;
}

.indicador5 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 250px;
	top: 267px;
	border-radius: 50%;

	background: #000000;
}

.indicador6 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 182px;
	top: 299px;
	border-radius: 50%;

	background: #6CD0DB;
}

.indicador7 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 199px;
	top: 299px;
	border-radius: 50%;

	background: #000000;
}

.indicador8 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 216px;
	top: 299px;
	border-radius: 50%;

	background: #000000;
}

.indicador9 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 233px;
	top: 299px;
	border-radius: 50%;

	background: #000000;
}

.indicador10 {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 250px;
	top: 299px;
	border-radius: 50%;

	background: #000000;
}

.experiencias {
	position: static;
	width: 330px;
	height: 152px;
	left: 0px;
	top: 464px;

	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 48px 0px;
}

.experiencias h2 {
	position: absolute;
	width: 247px;
	height: 39px;
	left: 0px;
	top: 464px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 39px;
	
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;

	color: #6CD0DB;
}

.experiencias p {
	position: absolute;
	width: 330px;
	height: 96px;
	left: 0px;
	top: 520px;

	font-family: 'Crimson+Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;

	color: #3C3C3C;
}